.navbar-toggle span{
    display: block;
    margin: 0 0 5px 0;
    height: 3px;
    width: 25px;
    background: #333
}

.navbar-toggle span:last-child{
    margin: 0;
}

header .logo{
    height: 30px;
}
